BASE_URL=https://orion.printerous.com/id
EMAIL=
PASSWORD=
BROWSER=
KEMASAN_URL=https://orion.printerous.com/id/katalog/kemasan-label
LINKTEMPALTE_URL=https://drive.google.com/file/d/1lIClzHrT6nm4LODvxATAkK-I5GtYhFpN/view?usp=sharing
